GOOGLE_ADS_DEVELOPER_TOKEN=
GOOGLE_ADS_CLIENT_ID=
GOOGLE_ADS_CLIENT_SECRET=
GOOGLE_ADS_REFRESH_TOKEN=
GOOGLE_ADS_LOGIN_CUSTOMER_ID=
GOOGLE_ADS_CUSTOMER_IDS=5309400878
DINGTALK_WEBHOOK=
DINGTALK_KEYWORD=推送
DINGTALK_SECRET=
POLICY_DINGTALK_WEBHOOK=
POLICY_DINGTALK_KEYWORD=拒审
POLICY_DINGTALK_SECRET=

REPORT_TIMEZONE=Asia/Kolkata
ACCOUNT_CURRENCY=INR
TARGET_CURRENCY=USD
INR_USD_RATE=0.0106773458888166
REPORT_BRAND=PocketMitra

LOAN_ESTIMATE_LOOKBACK_DAYS=28
LOAN_ESTIMATE_EXCLUDE_RECENT_DAYS=7

FB_ACCESS_TOKEN=
FB_API_VERSION=v19.0
FB_DAILY_ACCOUNTS=PocketMitra-02:act_699832393105441,PocketMitra-04:act_838379439062631
FB_BALANCE_THRESHOLD_INR=20000
LARK_BALANCE_WEBHOOK=
LARK_BALANCE_KEYWORD=notification
ADJUST_API_TOKEN=
ADJUST_APP_TOKEN=y23vaaza5vcw
ADJUST_REGISTER_EVENT_TOKEN=elfwqi
ADJUST_LOAN_EVENT_TOKEN=yogqjh
ADJUST_GROUPING=partner_name
ADJUST_UTC_OFFSET=+05:30
ADJUST_ATTRIBUTION_SOURCE=first
ADJUST_GOOGLE_CHANNELS=Google Ads
ADJUST_FACEBOOK_CHANNELS=Facebook
ADJUST_FACEBOOK_ACCOUNT_PATTERNS=PocketMitra-02:pocketmitra_02,PocketMitra-04:pocketmitra_04
